.DS_Store
.Rhistory
.RData
aDNA.code-workspace
*/raw/reads/
*/raw/ref/
*/processed/
*/logs/
*/results/
results/
__pycache__
.snakemake/
Bger
trial_Phortica
trial_Phum
obsolete
fetch_results.sh
todo
update_roco_scripts.sh
report.html
logs