.DS_Store
.Rhistory
.RData
aDNA.code-workspace
*/raw/reads/
*/raw/ref_genome/
*/processed/
*/logs/
*/results/
results/
__pycache__
config.yaml
.snakemake/
Bger
trial_Phortica
obsolete
fetch_results.sh
todo
update_roco_scripts.sh
report.html
logs